@charset "utf-8";
/* variables */
/* colors */
/* methods */
.no-box {
  padding: 0;
  margin: 0;
  border: none;
}
.circle {
  border-radius: 50%;
}
.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fill-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* absolute horizontal center, count from left */
/* absolute horizontal center, count from right */
/* absolute vertical center, count from top */
/* absolute vertical center, count from bottom */
/* absolute vertical center, count from bottom */
/* size transfer */
/* animation */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes breathing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bg-moving-right {
  0% {
    background-position-x: 0em;
  }
  100% {
    background-position-x: 48em;
  }
}
@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
/* common styles */
* {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
*.invisible {
  visibility: hidden;
}
*.visible {
  visibility: visible;
}
body {
  font-family: "Microsoft Yahei", "SimHei";
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 980px) {
  body {
    font-size: 20.416px;
  }
}
@media screen and (max-width: 979px) and (min-width: 960px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) and (min-width: 550px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) and (min-width: 320px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
/* colors */
/* widths */
/* methods */
/* start widgets */
.topivi-widget {
  z-index: 100;
  /* start progress */
  /* end progress */
  /* start dialog */
  /* end dialog */
  /* start tips */
  /* end tips */
  /* start loading */
  /* end loading */
}
.topivi-widget.progress.round {
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: #07b2b8;
  border-radius: 50%;
}
.topivi-widget.progress.round .bg-left,
.topivi-widget.progress.round .bg-right {
  position: absolute;
  width: 100%;
  height: 100%;
}
.topivi-widget.progress.round .bg-left .left,
.topivi-widget.progress.round .bg-right .left,
.topivi-widget.progress.round .bg-left .right,
.topivi-widget.progress.round .bg-right .right {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c8f0f0;
}
.topivi-widget.progress.round .bg-right,
.topivi-widget.progress.round .right {
  clip: rect(auto, auto, auto, 5em);
}
.topivi-widget.progress.round .bg-left,
.topivi-widget.progress.round .left {
  clip: rect(auto, 5em, auto, auto);
}
.topivi-widget.progress.round .mask {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background-color: #ffffff;
}
.topivi-widget.progress.round .point {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 50%;
  margin-left: -2px;
  -webkit-transform-origin: 50% 100%;
}
.topivi-widget.progress.round .point .dot {
  position: absolute;
  top: -0.14375em;
  left: 50%;
  width: 0.5em;
  height: 0.5em;
  margin-left: -0.25em;
  background-color: #38d1bf;
  border-radius: 50%;
  box-shadow: 0 0 0.5em #055350;
  -webkit-animation: scaling 2s infinite linear;
}
.topivi-widget.progress.line .bar {
  width: 100%;
  height: 100%;
}
.topivi-widget.progress.line .dot {
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
}
.topivi-widget.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11.0625em;
  margin-left: -19.21875em;
  width: 38.4375em;
  height: 22.125em;
  border: 1px solid #57cbe9;
  border-radius: 0.5em;
  background-color: rgba(3, 108, 120, 0.92);
  display: none;
}
.topivi-widget.dialog.opened,
.topivi-widget.dialog.opening {
  display: block;
}
.topivi-widget.dialog .content {
  color: #c8f4ff;
}
.topivi-widget.dialog.confirm {
  color: #c8f4ff;
}
.topivi-widget.dialog.confirm .content {
  width: 16.1em;
  height: 5.13333333em;
  margin: 1.66666667em 2.2em;
  font-size: 1.875em;
  overflow: hidden;
}
.topivi-widget.dialog.confirm .content .wrapper {
  width: 100%;
  height: auto;
}
.topivi-widget.dialog.confirm .btns {
  bottom: 1.52em;
  height: 2.48em;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -9.66em;
  width: 19.32em;
  font-size: 1.5625em;
  line-height: 2.48em;
  text-align: center;
}
.topivi-widget.dialog.confirm .btns .ok {
  border: 1px solid #57cbe9;
  border-radius: 0.32em;
  position: absolute;
  left: 0em;
  width: 9em;
  height: 100%;
  height: 2.4em;
}
.topivi-widget.dialog.confirm .btns .cancel {
  border: 1px solid #57cbe9;
  border-radius: 0.32em;
  position: absolute;
  right: 0em;
  width: 9em;
  height: 100%;
  height: 2.4em;
}
.topivi-widget.dialog.confirm .btns .ok:active,
.topivi-widget.dialog.confirm .btns .cancel:active {
  background-color: rgba(24, 133, 145, 0.92);
}
.topivi-widget.tips {
  position: absolute;
  width: 8.875em;
  height: 5.1875em;
}
.topivi-widget.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.topivi-widget.loading .notice {
  width: 6.25em;
  height: 4.375em;
}
.topivi-widget.loading .notice.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.1875em;
  margin-left: -3.125em;
  width: 6.25em;
  height: 4.375em;
}
.topivi-widget.loading .notice.top {
  position: absolute;
  left: 50%;
  margin-left: -3.125em;
  width: 6.25em;
  top: 0;
}
.topivi-widget.loading .notice.bottom {
  position: absolute;
  left: 50%;
  margin-left: -3.125em;
  width: 6.25em;
  bottom: 0;
}
.topivi-widget.loading .notice.left {
  position: absolute;
  top: 50%;
  margin-top: -2.1875em;
  height: 4.375em;
  left: 0;
}
.topivi-widget.loading .notice.right {
  position: absolute;
  top: 50%;
  margin-top: -2.1875em;
  height: 4.375em;
  right: 0;
}
.topivi-widget.loading .notice .icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
}
.topivi-widget.loading .notice .text {
  font-size: 0.875em;
  text-align: center;
  color: #07b2b8;
}
/* end widgets */
.dialog-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 90;
}
/* colors */
.page[data-mode='normal'] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('../img/bg.png');
}
.page[data-mode='normal'] .header {
  position: absolute;
  top: 0.5625em;
  height: 4.125em;
  width: 100%;
}
.page[data-mode='normal'] .header .show-list-btn {
  position: absolute;
  left: 2.0625em;
  width: 3.875em;
  height: 3.875em;
  background-image: url('../img/music_menu_normal.png');
}
.page[data-mode='normal'] .header .show-list-btn:active,
.page[data-mode='normal'] .header .show-list-btn.active {
  background-image: url('../img/music_menu_on.png');
}
.page[data-mode='normal'] .header .title {
  position: absolute;
  left: 50%;
  margin-left: -10.25em;
  width: 20.5em;
  top: 0.9375em;
  text-align: center;
  color: #07b2b8;
}
.page[data-mode='normal'] .header .title .name {
  max-width: 100%;
  height: 1.10714286em;
  font-size: 1.75em;
  line-height: 1em;
  background-image: url('../img/music__bg_title.png');
}
.page[data-mode='normal'] .header .title .artists {
  max-width: 100%;
  font-size: 0.875em;
}
.page[data-mode='normal'] .header .play-mode {
  position: absolute;
  top: 0.9375em;
  right: 2.0625em;
}
.page[data-mode='normal'] .header .play-mode .mode-btn {
  float: left;
  width: 2.6875em;
  height: 1.875em;
  margin-left: 0.0625em;
}
.page[data-mode='normal'] .header .play-mode .normal {
  background-image: url('../img/music_normal_normal.png');
}
.page[data-mode='normal'] .header .play-mode .normal:active,
.page[data-mode='normal'] .header .play-mode .normal.active {
  background-image: url('../img/music_normal_on.png');
}
.page[data-mode='normal'] .header .play-mode .mv {
  background-image: url('../img/music__mv_normal.png');
}
.page[data-mode='normal'] .header .play-mode .mv:active,
.page[data-mode='normal'] .header .play-mode .mv.active {
  background-image: url('../img/music__mv_on.png');
}
.page[data-mode='normal'] .content {
  position: absolute;
  top: 4.4375em;
  bottom: 4.625em;
  width: 100%;
}
.page[data-mode='normal'] .content .previous,
.page[data-mode='normal'] .content .next {
  position: absolute;
  top: 50%;
  margin-top: -5.4375em;
  height: 10.875em;
  width: 10.875em;
  color: #b4ebed;
}
.page[data-mode='normal'] .content .previous .bg,
.page[data-mode='normal'] .content .next .bg {
  background-image: url('../img/music_sidecircle_normal.png');
}
.page[data-mode='normal'] .content .previous .thumbnail,
.page[data-mode='normal'] .content .next .thumbnail,
.page[data-mode='normal'] .content .previous .name,
.page[data-mode='normal'] .content .next .name,
.page[data-mode='normal'] .content .previous .artists,
.page[data-mode='normal'] .content .next .artists,
.page[data-mode='normal'] .content .previous .duration,
.page[data-mode='normal'] .content .next .duration {
  opacity: 0.75;
}
.page[data-mode='normal'] .content .previous .name,
.page[data-mode='normal'] .content .next .name {
  position: absolute;
  top: 50%;
  margin-top: -1.20833333em;
  height: 1.33333333em;
  width: 100%;
  font-size: 1.5em;
}
.page[data-mode='normal'] .content .previous .artists,
.page[data-mode='normal'] .content .next .artists {
  position: absolute;
  top: 50%;
  margin-top: 0.60714286em;
  height: 1.35714286em;
  width: 100%;
  font-size: 0.875em;
}
.page[data-mode='normal'] .content .previous .duration,
.page[data-mode='normal'] .content .next .duration {
  position: absolute;
  bottom: 0em;
  height: 2em;
  width: 100%;
  line-height: 1.33333333em;
  font-size: 1.125em;
}
.page[data-mode='normal'] .content .previous {
  left: 8.2%;
}
.page[data-mode='normal'] .content .next {
  right: 8.2%;
}
.page[data-mode='normal'] .content .current {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7.6875em;
  margin-left: -7.6875em;
  width: 15.375em;
  height: 15.375em;
  color: #ffffff;
}
.page[data-mode='normal'] .content .current .bg {
  background-image: url('../img/music__middlecircle.png');
}
.page[data-mode='normal'] .content .current .thumbnail {
  opacity: 0.75;
  -webkit-animation: rotation 90s infinite linear;
}
.page[data-mode='normal'] .content .current .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.96875em;
  margin-left: -2.96875em;
  width: 5.9375em;
  height: 5.9375em;
  background-image: url('../img/music_start.png');
}
.page[data-mode='normal'] .content .current .play-btn:active {
  background-image: url('../img/music_start_down.png');
}
.page[data-mode='normal'] .content .current .play-btn.playing {
  background-image: url('../img/music_stop.png');
}
.page[data-mode='normal'] .content .current .play-btn.playing:active {
  background-image: url('../img/music_stop_down.png');
}
.page[data-mode='normal'] .content .current .duration {
  position: absolute;
  bottom: 0em;
  height: 2.25em;
  width: 100%;
  line-height: 1.5em;
  font-size: 1.5em;
}
.page[data-mode='normal'] .content .current .playing-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background-color: #b4ebed;
}
.page[data-mode='normal'] .content .current .playing-progress .mask {
  top: 2%;
  left: 1.8%;
  width: 96.4%;
  height: 96.4%;
  background-color: #000000;
}
.page[data-mode='normal'] .content .current .playing-progress .left,
.page[data-mode='normal'] .content .current .playing-progress .right {
  background-color: #2b9094;
}
.page[data-mode='normal'] .content .current .playing-progress .bg-right,
.page[data-mode='normal'] .content .current .playing-progress .right {
  clip: rect(auto, auto, auto, 7.6875em);
}
.page[data-mode='normal'] .content .current .playing-progress .bg-left,
.page[data-mode='normal'] .content .current .playing-progress .left {
  clip: rect(auto, 7.6875em, auto, auto);
}
.page[data-mode='normal'] .content .current .playing-progress .point {
  display: none;
}
.page[data-mode='normal'] .content .block {
  text-align: center;
}
.page[data-mode='normal'] .content .block .bg {
  width: 100%;
  height: 100%;
}
.page[data-mode='normal'] .content .block .thumbnail {
  position: absolute;
  width: 92%;
  height: 92%;
  top: 4.25%;
  left: 4%;
}
.page[data-mode='normal'] .footer {
  position: absolute;
  bottom: 0.75em;
  height: 3.875em;
  width: 100%;
  overflow: visible;
}
.page[data-mode='normal'] .footer .alternate {
  position: absolute;
  left: 4.8125em;
  width: 3.875em;
  height: 3.875em;
  background-image: url('../img/music_alternate_normal.png');
}
.page[data-mode='normal'] .footer .alternate:active,
.page[data-mode='normal'] .footer .alternate.active {
  background-image: url('../img/music_alternate_on.png');
}
.page[data-mode='normal'] .footer .repeat {
  position: absolute;
  right: 4.8125em;
  width: 3.875em;
  height: 3.875em;
  background-image: url('../img/music_repeat_normal.png');
}
.page[data-mode='normal'] .footer .repeat:active,
.page[data-mode='normal'] .footer .repeat.active {
  background-image: url('../img/music_repeat_on.png');
}
.page[data-mode='normal'] .footer .lyric-sound {
  position: absolute;
  left: 50%;
  margin-left: -9.4375em;
  width: 18.875em;
  overflow: visible;
}
.page[data-mode='normal'] .footer .lyric-sound .lyric {
  position: relative;
  top: -0.625em;
  font-size: 1.125em;
  color: #07b2b8;
  text-align: center;
}
.page[data-mode='normal'] .footer .lyric-sound .sound .min,
.page[data-mode='normal'] .footer .lyric-sound .sound .max {
  position: absolute;
  width: 1.625em;
  height: 1.625em;
}
.page[data-mode='normal'] .footer .lyric-sound .sound .min {
  left: 0;
  background-image: url('../img/music__soundicon_left.png');
}
.page[data-mode='normal'] .footer .lyric-sound .sound .max {
  right: 0;
  background-image: url('../img/music__soundicon_right.png');
}
.page[data-mode='normal'] .footer .lyric-sound .sound .volume-progress {
  position: absolute;
  width: 14.125em;
  height: 0.5em;
  margin-top: 0.5625em;
  margin-left: 2.25em;
  overflow: visible;
}
.page[data-mode='normal'] .footer .lyric-sound .sound .volume-progress .running {
  position: absolute;
  width: 30%;
  height: 100%;
  background-image: url('../img/music__soundbar_bgtop.png');
}
.page[data-mode='normal'] .footer .lyric-sound .sound .volume-progress .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/music__soundbar_bgbeneath.png');
}
.page[data-mode='normal'] .footer .lyric-sound .sound .volume-progress .dot {
  position: absolute;
  top: -0.3125em;
  left: 30%;
  margin-left: -0.5625em;
  width: 1.125em;
  height: 1.125em;
  background-image: url('../img/music__soundbar_button.png');
}
.tips.song-list-tips {
  width: 16.3125em;
  height: 23.375em;
}
.tips.song-list-tips .angle {
  position: absolute;
  top: 1.1875em;
  left: 0.5em;
  width: 1em;
  height: 1em;
  border-bottom: 1px solid #07b2b8;
  border-left: 1px solid #07b2b8;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  background-color: #000000;
}
.tips.song-list-tips .content {
  width: 15.1875em;
  height: 23.25em;
  margin-left: 1em;
  border: 1px solid #07b2b8;
  border-radius: 2px;
}
.tips.song-list-tips .content .title {
  width: 100%;
  height: 2.25em;
  border-bottom: 1px solid #07b2b8;
  font-size: 1.5em;
  line-height: 2.25em;
  text-align: center;
  color: #07b2b8;
  background-color: rgba(0, 0, 0, 0.6);
}
.tips.song-list-tips .content .listview {
  width: 100%;
  height: 19.8125em;
  background-color: rgba(0, 0, 0, 0.75);
}
.tips.song-list-tips .content .listview ul li {
  width: 11.75em;
  height: 4.125em;
  padding-left: 1.875em;
  padding-right: 1.5625em;
  border-bottom: 1px solid #07b2b8;
}
.tips.song-list-tips .content .listview ul li:last-child {
  border-bottom: none;
}
.tips.song-list-tips .content .listview ul li.current {
  background-color: rgba(87, 203, 233, 0.2);
}
.tips.song-list-tips .content .listview ul li .name {
  height: 1.33333333em;
  margin-top: 0.66666667em;
  font-size: 1.125em;
  color: #07b2b8;
}
.tips.song-list-tips .content .listview ul li .artists-duration {
  margin-top: 0.28571429em;
  font-size: 0.875em;
  color: #339396;
}
.tips.song-list-tips .content .listview ul li .artists-duration .artists {
  display: block;
  float: left;
}
.tips.song-list-tips .content .listview ul li .artists-duration .duration {
  display: block;
  float: right;
}
.page[data-mode='footer'] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.page[data-mode='footer'] > .left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #77e3ea;
}
.page[data-mode='footer'] > .left .header {
  position: absolute;
  top: 0.375em;
  width: 100%;
}
.page[data-mode='footer'] > .left .header .title {
  font-size: 1.125em;
  text-align: center;
}
.page[data-mode='footer'] > .left .content {
  position: absolute;
  top: 2em;
  bottom: 1.75em;
  width: 100%;
}
.page[data-mode='footer'] > .left .content .previous,
.page[data-mode='footer'] > .left .content .next {
  position: absolute;
  top: 50%;
  margin-top: -1.375em;
  height: 2.75em;
  width: 2.75em;
}
.page[data-mode='footer'] > .left .content .previous {
  left: 0.8125em;
  background-image: url('../img/home_audio_button_pre.png');
}
.page[data-mode='footer'] > .left .content .next {
  right: 0.8125em;
  background-image: url('../img/home_audio_button_next.png');
}
.page[data-mode='footer'] > .left .content .current {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3.25em;
  margin-left: -3.25em;
  width: 6.5em;
  height: 6.5em;
}
.page[data-mode='footer'] > .left .content .current .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1em;
  margin-left: -0.875em;
  width: 1.75em;
  height: 2em;
  background-image: url('../img/home_audio_button_stop.png');
}
.page[data-mode='footer'] > .left .content .current .play-btn.playing {
  background-image: url('../img/home_audio_button_start.png');
}
.page[data-mode='footer'] > .left .content .current .playing-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background-color: #b4ebed;
}
.page[data-mode='footer'] > .left .content .current .playing-progress .mask {
  top: 4%;
  left: 4%;
  width: 92%;
  height: 92%;
  background-color: #000000;
}
.page[data-mode='footer'] > .left .content .current .playing-progress .left,
.page[data-mode='footer'] > .left .content .current .playing-progress .right {
  background-color: #2b9094;
}
.page[data-mode='footer'] > .left .content .current .playing-progress .bg-right,
.page[data-mode='footer'] > .left .content .current .playing-progress .right {
  clip: rect(auto, auto, auto, 3.25em);
}
.page[data-mode='footer'] > .left .content .current .playing-progress .bg-left,
.page[data-mode='footer'] > .left .content .current .playing-progress .left {
  clip: rect(auto, 3.25em, auto, auto);
}
.page[data-mode='footer'] > .left .content .current .playing-progress .point {
  display: none;
}
.page[data-mode='footer'] > .left .content .current .duration {
  display: none;
  position: absolute;
  bottom: 0.71428571em;
  height: 1.5em;
  width: 100%;
  height: auto;
  font-size: 0.875em;
  text-align: center;
  color: #ffffff;
}
.page[data-mode='footer'] > .left .footer {
  position: absolute;
  overflow: visible;
  bottom: 0.5625em;
  height: 1.375em;
  width: 100%;
}
.page[data-mode='footer'] > .left .footer .volume,
.page[data-mode='footer'] > .left .footer .repeat {
  position: absolute;
  width: 1.75em;
  height: 1.375em;
  display: none;
}
.page[data-mode='footer'] > .left .footer .volume {
  left: 3.125em;
  background-image: url('../img/home_audio_voice.png');
}
.page[data-mode='footer'] > .left .footer .repeat {
  right: 3.125em;
  background-image: url('../img/home_audio_repeat.png');
}
.page[data-mode='footer'] > .left .footer .name {
  position: absolute;
  width: 100%;
  text-align: center;
}
.page[data-mode='footer'] > .right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  top: 0.5625em;
  width: 50%;
  display: none;
  text-align: center;
}
.page[data-mode='footer'] > .right .name {
  font-size: 1.125em;
  color: #85e9e9;
}
.page[data-mode='footer'] > .right .artists {
  font-size: 0.625em;
  line-height: 1.6em;
  color: #85e9e9;
}
.page[data-mode='footer'] > .right .lyrics-desc {
  font-size: 0.625em;
  line-height: 1.4em;
  color: #85e9e9;
}
.page[data-mode='footer'] > .right .lyrics {
  position: absolute;
  bottom: 0.5625em;
  width: 100%;
  height: 6.3em;
}
.page[data-mode='footer'] > .right .lyrics .line {
  font-size: 0.875em;
  line-height: 1.71428571em;
  color: #277e81;
}
.page[data-mode='footer'] > .right .lyrics .line.current {
  font-size: 1.125em;
  color: #b4ebed;
}
.page[data-mode='footer'].expanded {
  font-size: 1em;
}
.page[data-mode='footer'].expanded > .left {
  width: 50%;
}
.page[data-mode='footer'].expanded > .left .content .duration {
  display: block;
}
.page[data-mode='footer'].expanded > .left .footer .volume,
.page[data-mode='footer'].expanded > .left .footer .repeat {
  display: block;
}
.page[data-mode='footer'].expanded > .left .footer .name {
  display: none;
}
.page[data-mode='footer'].expanded > .right {
  display: block;
}
@media screen and (max-width: 550px) and (min-width: 320px) {
  .page[data-mode='footer'] {
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .page[data-mode='footer'] {
    font-size: 20px;
  }
}
