@charset "utf-8";
/* variables */
/* colors */
/* methods */
.no-box {
  padding: 0;
  margin: 0;
  border: none;
}
.circle {
  border-radius: 50%;
}
.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fill-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* absolute horizontal center, count from left */
/* absolute horizontal center, count from right */
/* absolute vertical center, count from top */
/* absolute vertical center, count from bottom */
/* absolute vertical center, count from bottom */
/* size transfer */
/* animation */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes breathing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bg-moving-right {
  0% {
    background-position-x: 0em;
  }
  100% {
    background-position-x: 48em;
  }
}
@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
/* common styles */
* {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
*.invisible {
  visibility: hidden;
}
*.visible {
  visibility: visible;
}
body {
  font-family: "Microsoft Yahei", "SimHei";
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 980px) {
  body {
    font-size: 20.416px;
  }
}
@media screen and (max-width: 979px) and (min-width: 960px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) and (min-width: 550px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) and (min-width: 320px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
/* colors */
/* widths */
/* methods */
/* start widgets */
.topivi-widget {
  z-index: 100;
  /* start progress */
  /* end progress */
  /* start dialog */
  /* end dialog */
  /* start tips */
  /* end tips */
  /* start loading */
  /* end loading */
}
.topivi-widget.progress.round {
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: #07b2b8;
  border-radius: 50%;
}
.topivi-widget.progress.round .bg-left,
.topivi-widget.progress.round .bg-right {
  position: absolute;
  width: 100%;
  height: 100%;
}
.topivi-widget.progress.round .bg-left .left,
.topivi-widget.progress.round .bg-right .left,
.topivi-widget.progress.round .bg-left .right,
.topivi-widget.progress.round .bg-right .right {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c8f0f0;
}
.topivi-widget.progress.round .bg-right,
.topivi-widget.progress.round .right {
  clip: rect(auto, auto, auto, 5em);
}
.topivi-widget.progress.round .bg-left,
.topivi-widget.progress.round .left {
  clip: rect(auto, 5em, auto, auto);
}
.topivi-widget.progress.round .mask {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  background-color: #ffffff;
}
.topivi-widget.progress.round .point {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 50%;
  margin-left: -2px;
  -webkit-transform-origin: 50% 100%;
}
.topivi-widget.progress.round .point .dot {
  position: absolute;
  top: -0.14375em;
  left: 50%;
  width: 0.5em;
  height: 0.5em;
  margin-left: -0.25em;
  background-color: #38d1bf;
  border-radius: 50%;
  box-shadow: 0 0 0.5em #055350;
  -webkit-animation: scaling 2s infinite linear;
}
.topivi-widget.progress.line .bar {
  width: 100%;
  height: 100%;
}
.topivi-widget.progress.line .dot {
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
}
.topivi-widget.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11.0625em;
  margin-left: -19.21875em;
  width: 38.4375em;
  height: 22.125em;
  border: 1px solid #57cbe9;
  border-radius: 0.5em;
  background-color: rgba(3, 108, 120, 0.92);
  display: none;
}
.topivi-widget.dialog.opened,
.topivi-widget.dialog.opening {
  display: block;
}
.topivi-widget.dialog .content {
  color: #c8f4ff;
}
.topivi-widget.dialog.confirm {
  color: #c8f4ff;
}
.topivi-widget.dialog.confirm .content {
  width: 16.1em;
  height: 5.13333333em;
  margin: 1.66666667em 2.2em;
  font-size: 1.875em;
  overflow: hidden;
}
.topivi-widget.dialog.confirm .content .wrapper {
  width: 100%;
  height: auto;
}
.topivi-widget.dialog.confirm .btns {
  bottom: 1.52em;
  height: 2.48em;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -9.66em;
  width: 19.32em;
  font-size: 1.5625em;
  line-height: 2.48em;
  text-align: center;
}
.topivi-widget.dialog.confirm .btns .ok {
  border: 1px solid #57cbe9;
  border-radius: 0.32em;
  position: absolute;
  left: 0em;
  width: 9em;
  height: 100%;
  height: 2.4em;
}
.topivi-widget.dialog.confirm .btns .cancel {
  border: 1px solid #57cbe9;
  border-radius: 0.32em;
  position: absolute;
  right: 0em;
  width: 9em;
  height: 100%;
  height: 2.4em;
}
.topivi-widget.dialog.confirm .btns .ok:active,
.topivi-widget.dialog.confirm .btns .cancel:active {
  background-color: rgba(24, 133, 145, 0.92);
}
.topivi-widget.tips {
  position: absolute;
  width: 8.875em;
  height: 5.1875em;
}
.topivi-widget.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.topivi-widget.loading .notice {
  width: 6.25em;
  height: 4.375em;
}
.topivi-widget.loading .notice.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.1875em;
  margin-left: -3.125em;
  width: 6.25em;
  height: 4.375em;
}
.topivi-widget.loading .notice.top {
  position: absolute;
  left: 50%;
  margin-left: -3.125em;
  width: 6.25em;
  top: 0;
}
.topivi-widget.loading .notice.bottom {
  position: absolute;
  left: 50%;
  margin-left: -3.125em;
  width: 6.25em;
  bottom: 0;
}
.topivi-widget.loading .notice.left {
  position: absolute;
  top: 50%;
  margin-top: -2.1875em;
  height: 4.375em;
  left: 0;
}
.topivi-widget.loading .notice.right {
  position: absolute;
  top: 50%;
  margin-top: -2.1875em;
  height: 4.375em;
  right: 0;
}
.topivi-widget.loading .notice .icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
}
.topivi-widget.loading .notice .text {
  font-size: 0.875em;
  text-align: center;
  color: #07b2b8;
}
/* end widgets */
.dialog-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 90;
}
/* colors */
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('../img/bg.png');
}
.page .nav {
  position: absolute;
  top: 50%;
  margin-top: -11.46875em;
  height: 22.9375em;
  width: 3.5625em;
  margin-left: 3.90625%;
}
.page .nav .item {
  width: 100%;
  height: 1.78571429em;
  margin-bottom: 2.28571429em;
  font-size: 0.875em;
  line-height: 1.78571429em;
  text-align: center;
  color: #07b2b8;
  background-image: url('../img/line_normal.png');
  background-size: 100% 3px;
  background-position: bottom;
}
.page .nav .item.active,
.page .nav .item:active {
  color: #a3ecee;
  background-image: url('../img/line_selected.png');
}
.page .nav .item:last-child {
  margin-bottom: 0em;
}
.page .main {
  position: absolute;
  top: 2.875em;
  left: 15.234375%;
  bottom: 0em;
  right: 3.90625%;
}
.page .main .content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  bottom: 4.4375em;
  overflow: visible;
}
.page .main .content .listview .item {
  float: left;
  width: 33.33333333%;
  height: 8.3125em;
  margin-bottom: 1.0625em;
}
.page .main .content .listview .item .link {
  display: block;
  height: 8.1875em;
  margin-right: 1.0625em;
  border: 1px #a3ecee solid;
  border-radius: 1px;
  color: #86edf0;
}
.page .main .content .listview .item .link:nth-child(3n) {
  margin-right: 0em;
}
.page .main .content .listview .item .link .left {
  float: left;
  margin-left: 6.12244898%;
}
.page .main .content .listview .item .link .left .thumbnail {
  width: 4.0625em;
  height: 4.0625em;
  margin-top: 0.9375em;
}
.page .main .content .listview .item .link .left .stars {
  margin-top: 1.0625em;
  margin-left: 0.125em;
}
.page .main .content .listview .item .link .right {
  float: left;
  margin-top: 1.3125em;
  margin-left: 6.63265306%;
}
.page .main .content .listview .item .link .right .name {
  font-size: 0.875em;
  max-width: 6.07142857em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page .main .content .listview .item .link .right .version-number,
.page .main .content .listview .item .link .right .size {
  font-size: 0.625em;
}
.page .main .content .listview .item .link .right .size {
  margin-bottom: 1.7em;
}
.page .main .content .listview .item .link .right .install {
  width: 5.0625em;
  height: 1.6875em;
  text-align: center;
  line-height: 1.6875em;
  background-image: url('../img/button.png');
}
.page .main .content .listview .item .link .right .install:active {
  background-image: url('../img/button_pressed.png');
}
.page .main .content .listview .item .link .right .install.disabled {
  text-decoration: line-through;
  color: #528788;
}
.page .main .content .listview .item .link .download-progress {
  position: relative;
  top: 100%;
  width: 100%;
  height: 0.1875em;
  margin-top: -0.1875em;
}
.page .main .content .listview .item .uninstall {
  position: absolute;
  width: 2.25em;
  height: 2.25em;
}
.page .main .content .listview .info {
  position: absolute;
  top: 50%;
  margin-top: -2.66666667em;
  height: 2em;
  width: 100%;
  text-align: center;
  color: #86edf0;
  font-size: 1.875em;
}
.page #bottom-mask {
  position: absolute;
  bottom: 0em;
  height: 5.5em;
  width: 100%;
  background-image: url('../img/shadow.png');
}
.page #app-detail-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12.0625em;
  margin-left: -13.40625em;
  width: 26.8125em;
  height: 24.125em;
  border-radius: 2px;
}
.page #app-detail-dialog .content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #86edf0;
}
.page #app-detail-dialog .content .part {
  box-shadow: inset 0 -1px 1px #57cbe9;
}
.page #app-detail-dialog .content .part:last-child {
  box-shadow: none;
  margin-bottom: 0.8125em;
}
.page #app-detail-dialog .content .basic-info {
  height: 8.6875em;
}
.page #app-detail-dialog .content .basic-info .left,
.page #app-detail-dialog .content .basic-info .right {
  float: left;
}
.page #app-detail-dialog .content .basic-info .left .thumbnail {
  width: 7.25em;
  height: 7.25em;
  margin-top: 0.8125em;
  margin-left: 0.3125em;
}
.page #app-detail-dialog .content .basic-info .right {
  margin-left: 0.6875em;
}
.page #app-detail-dialog .content .basic-info .right .name {
  margin-top: 1.1em;
  font-size: 1.25em;
}
.page #app-detail-dialog .content .basic-info .right .developer {
  margin-top: 0.58333333em;
  font-size: 0.75em;
}
.page #app-detail-dialog .content .basic-info .right .stars {
  margin-top: 0.4375em;
  margin-bottom: 0.75em;
}
.page #app-detail-dialog .content .basic-info .right .install {
  width: 5.0625em;
  height: 1.6875em;
  text-align: center;
  line-height: 1.6875em;
  border: 1px solid #86edf0;
  border-radius: 3px;
  background-image: none;
}
.page #app-detail-dialog .content .basic-info .right .install.disabled {
  text-decoration: line-through;
  color: #528788;
}
.page #app-detail-dialog .content .basic-info .right .install:active {
  background-color: rgba(5, 123, 136, 0.92);
}
.page #app-detail-dialog .content .previews .wrapper {
  margin: 0.9375em 0.875em 1em 0.875em;
  height: 7.0625em;
}
.page #app-detail-dialog .content .previews .wrapper ul {
  height: 7.0625em;
}
.page #app-detail-dialog .content .previews .wrapper ul li {
  float: left;
  width: 12.125em;
  height: 7.0625em;
  margin-right: 0.8125em;
  display: block;
}
.page #app-detail-dialog .content .previews .wrapper ul li .preview {
  width: 100%;
  height: 100%;
}
.page #app-detail-dialog .content .previews .wrapper ul li:last-child {
  margin-right: 0em;
}
.page #app-detail-dialog .content .previews .info {
  padding: 0.9375em 0.875em 1em 0.875em;
}
.page #app-detail-dialog .content .description,
.page #app-detail-dialog .content .new-feature {
  padding: 0.4375em 0.875em;
}
.page #app-detail-dialog .content .description .title,
.page #app-detail-dialog .content .new-feature .title {
  font-size: 0.875em;
  color: #1fcbda;
}
.page #app-detail-dialog .content .description .text,
.page #app-detail-dialog .content .new-feature .text {
  font-size: 0.75em;
}
.page .stars {
  width: 3.75em;
  height: 0.75em;
}
.page .stars .star {
  float: left;
  width: 0.75em;
  height: 0.75em;
  background-image: url('../img/satr_dark_icon.png');
}
.page .stars .star.active {
  background-image: url('../img/satr_light_icon.png');
}
.page .btns {
  height: 1.8125em;
  display: none;
}
.page .btns .small-btn {
  float: left;
  width: 1.8125em;
  height: 1.8125em;
}
.page .btns .small-btn.pause {
  background-image: url('../img/pause_button.png');
}
.page .btns .small-btn.pause:active {
  background-image: url('../img/button_pause_pressed.png');
}
.page .btns .small-btn.pause.paused {
  background-image: url('../img/begin_button.png');
}
.page .btns .small-btn.pause.paused:active {
  background-image: url('../img/button_begin_pressed.png');
}
.page .btns .small-btn.stop {
  margin-left: 0.4375em;
  background-image: url('../img/delete_button.png');
}
.page .btns .small-btn.stop:active {
  background-image: url('../img/button_delete_pressed.png');
}
.page .btns .download-progress {
  float: left;
  width: 5em;
  height: 0.25em;
  margin-top: 0.6875em;
  margin-right: 1em;
}
.page .btns .continue {
  display: none;
}
.page .download-progress {
  display: none;
  background-color: #6a9191;
}
.page .download-progress .bar {
  background-color: #86edf0;
}
.page .download-progress .dot {
  display: none;
}
.page .loading {
  width: 1.75em;
  height: 1.6875em;
  display: none;
  background-image: url('../img/loading_icon.png');
}
.confirm.app-store {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7.5em;
  margin-left: -19.21875em;
  width: 38.4375em;
  height: 15em;
}
